#card {
    width: 300px; 
    padding: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 320px;
    top: 100px;
}
.btn btn-primary{
    background-color: #1c9bb5;
}
   